@{
    ViewBag.Title = "Index";
}


@section Izq {

    <p>El Teatro Colón de Buenos Aires es una de las salas de ópera más importantes del mundo. Su rico y prestigioso historial y las excepcionales condiciones acústicas y arquitectónicas de su edificio lo colocan al nivel de teatros como la Scala de Milán, la Ópera de París, la Ópera de Viena, el Covent Garden de Londres y el Metropolitan de Nueva York. </p>
    <p>En su primera sede, el Teatro Colón funcionó desde 1857 hasta 1888, año en que fue cerrado para la construcción de una nueva sala. Ésta fue inaugurada el 25 de mayo de 1908 con una función de Aida. En sus inicios, el Colón contrataba para sus temporadas a compañías extranjeras; a partir de 1925 contó con sus propios cuerpos estables –Orquesta, Ballet y Coro- y sus propios talleres de producción, lo cual le permitió, ya en la década de 1930, organizar sus propias temporadas financiadas por el presupuesto de la ciudad.</p>
    }

@section Der {
    <img src="https://static.dw.com/image/16252440_303.jpg" style="height:150px; width: 250px" />
    <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/56/37/b7.jpg" style="height:150px; width: 250px"/>
    <img src="http://teatrocolon.org.ar/sites/default/files/styles/d8/public/2021-06/limpieza_y_mantenimiento_de_la_arana_de_la_sala_principal_del_teatro_colon_-_foto_14_c_juan_jose_bruzza.jpg?itok=Lyxy-FaW" style="height:150px; width: 250px" />
    }
 <h2>@ViewBag.Fecha</h2>